/*aqui o CSS será puro, nos proximos componentes será style... */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

img {
    width: 8rem;
    height: 3.5rem;
    object-fit: cover;
    cursor: pointer;
}